<div class="content-wrapper">
  <h2>Bilder</h2>
  <form class="user-form">
    <input id="file" type="file">
    <button (click)="uploadFile()">Bild hochladen</button>
    <div class="upload-status">
      <label [innerHTML]="progressString"></label>
      <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    </div>
  </form>
  <h2 class="gallery-headline">Bildergallerie</h2>
  <div class="gallery-wrapper">
    <div class="media" *ngFor="let image of images">
      <video id="video" *ngIf="isVideo('../../../assets/gallery/' + image.name)" controls="true" src="../../../assets/gallery/{{image.name}}"></video>
      <img id="image" *ngIf="!isVideo('../../../assets/gallery/' + image.name)" src="../../../assets/gallery/{{image.name}}" />
    </div>
  </div>
</div>
