<div class="flex-column content">
  <div class="information">
    <h1>MOTTOPARTY: CRAZY SOCKS</h1>
    <div class="flex-row">
      <div class="flex-column time-wrapper">
        <h2>Wann?</h2>
        <p>Montag, 2. Oktober 2023 <br/> ab 18:30 Uhr</p>
      </div>
      <img id="logo" alt="" title="" ngSrc="../../../assets/logo.PNG" width="552" height="550">
    </div>
    <div class="flex-column location">
      <h2>Wo?</h2>
      <p>Wir hatten das Glück, drei tolle Lokale zur Auswahl zu haben. <br/> Unsere Wahl ist getroffen. <br/><br/> Wir feiern hier:</p>
      <div class="venue-wrapper">
        <a href="https://landschofs-catering.com/">
          <img id="venue" alt="" title="" ngSrc="../../../assets/landschofs_location.jpg" width="780" height="540" />
        </a>
        <a id="l_logo_link" href="https://landschofs-catering.com/">
          <img id="l_logo" alt="" title="" ngSrc="../../../assets/logo_landschofs.png" width="780" height="540" />
        </a>
      </div>
    </div>
  </div>
  <div class="flex-column reasons">
    <h2>DREI GRÜNDE ZU FEIERN:</h2>
    <h3>JAN BEHRENS 29.10.1971</h3>
    <p>29.10.2021: Lockdown</p>
    <h3>SANDRA BEHRENS 15.06.1972</h3>
    <p>15.06.2022: Kontaktbeschränkungen</p>
    <h3>SANDRA & JAN 25.09.1998 - 25.09.2023</h3>
    <p>Jetzt erst recht!</p>
    <img alt="" title="" ngSrc="../../../assets/reasons.PNG" width="469" height="297">
    <h2>RÜCKMELDUNG...</h2>
    <p>bitte bis spätestens zum 17.09.2023:<br/>
      Tel-Nr: 0151-12673912<br/>
      oder 0151-43250900
    </p>
  </div>
</div>
